.item-page-skeletons, .merch-item-page-skeletons
    display: flex
    justify-content: flex-start
    align-items: flex-start
    width: 100%
    margin-bottom: -5em
    & .merch-info-skeleton
        margin: 0
        padding: 0 2em

.menu-item-skeleton
    position: relative


@media (max-width: 1024px) 
    .item-page-skeletons, .merch-item-page-skeletons
        margin-bottom: 0
        flex-direction: column
        & .merch-info-skeleton
            padding: 0

        .image-gallery-skeleton
            padding-bottom: 2em
@media (max-width: 768px) 
    .item-page-skeletons, .merch-item-page-skeletons
        margin-bottom: 2em
        .image-gallery-skeleton
            padding-bottom: 1em