.image-gallery
    display: inline-block
    width: 50%
    min-width: 50%
    margin: 0 2em
    &:hover
        & .slick-slider
            & .custom-arrow-next, & .custom-arrow-prev
                opacity: 1

    & .slick-slider
        position: sticky
        top: 7em
        width: 100%
        height: auto
        
        & .slick-list
            border-radius: 5px
            overflow: hidden
            & .slick-slide
                div
                    outline: none

        & .custom-arrow-next, & .custom-arrow-prev
            opacity: 0
            cursor: pointer
            position: absolute
            width: 4em
            height: 4em
            display: flex
            align-items: center
            justify-content: center
            border: 1px solid
            border-radius: 50%
            z-index: 1
            top: calc(50% - 2em)
            background:#fff
            transition: all 0.2s ease, opacity 0.4s ease 
            &:hover
                background: #C5B7FF
                opacity: 1
            svg
                width: 2em
                height: auto

        & .custom-arrow-next
            right: -2em

        & .custom-arrow-prev
            left: -2em

            

            

        & .slick-dots
            top: 100%
            height: fit-content
            text-align: start
            li
                vertical-align: top
                width: 11.625%
                height: auto
                margin: 1% 1% 0 0
                opacity: 0.65
                border-radius: 5px
                transition: 0.2s
                
                &:last-child
                    margin-right: 0
                &.slick-active
                    opacity: 1
                    outline: 1px solid #481E5C
                    
                img
                    display: flex
                    width: 100%
                    border-radius: 5px
                    

        & .slick-track
            &:hover
                cursor: grab
            &:active
                cursor: grabbing
            & .slick-slide
                div
                    display: flex
                    img
                        width: 100%
                            
@media (max-width: 1024px)
    .image-gallery
        padding-bottom: 15%
        margin: 0
        display: flex
        width: 100%
@media (max-width: 768px)
    .image-gallery
        padding-bottom: 4em
        
        & .slick-slider
            & .custom-arrow-next, & .custom-arrow-prev
                display: none
            & .slick-list
                border-radius: 0
            & .slick-track
                & .slick-slide
                    div
                        img
                            border-radius: 0
            & .slick-dots
                text-align: center
                padding: 14px 0 8px 0
                border-bottom: 1px solid #9d46ee40
                li
                    opacity: 1
                    width: auto
                    margin: 0 auto
                    border-radius: 0
                    width: 6px
                    height: 6px
                    margin: 0 6px
                    button
                        width: 6px
                        height: 6px
                        &:hover
                            &::before
                                opacity: 1
                        &::before
                            opacity: 0.5
                            width: 6px
                            height: 6px
                            line-height: 6px
                            border: 2px solid #9d46ee
                            border-radius: 50%
                            content: ''
                    &.slick-active
                        opacity: 1
                        outline: 0
                        button
                            &::before
                                opacity: 1
                                background: #9d46ee
                    
                
    
