.merch-item-page-cover
    background: no-repeat url(/public/images/logo-background.png)
    background-size: cover
    background-position: center
    
.merch-item-page
    display: flex
    max-width: 1280px
    margin: 0 auto
    padding: 6em 2em
    min-height: 100vh
    