.header-container
    position: fixed
    width: 100vw
    top: 0%
    
.header
    position: relative
    height: 6em
    display: flex
    align-items: center
    justify-content: space-between
    background: #ffaed7
    z-index: 1
    
    &_logo
        margin-left: 2em
        width: 16em
        
        img
            width: 100%
    
    &_right-side
        display: flex
        &_navbar
            display: flex
            font-family: Grid Paper, playbill, sans-serif
            font-size: 2em
            &_link
                display: flex
                justify-content: center
                align-items: center
                a
                    display: flex
                    justify-content: center
                    align-items: center
                    position: relative
                    color: #551A8B
                    margin-right: 1em
                    text-decoration: none     
                    &:before
                        position: absolute
                        top: 100%
                        width: 0
                        height: 4px
                        background-color: #F7F49D
                        border-radius: 10px
                        content: ''
                        transition: all 0.3s ease-out
        
                    &:hover:before, &.active:before
                        width: 1.5em    
        &_cart-icon
            position: relative
            display: flex
            justify-content: center
            align-items: center
            margin: 0 3em 0 2em
            width: 3em
            svg
                width: 100%
                height: auto
            &_counter
                display: flex
                justify-content: center
                align-items: center
                position: absolute
                width: 1.5em
                height: 1.5em
                border: 2px solid #551A8B
                background: #F7F49D
                border-radius: 50%
                top: 60%
                right: -5%
                span
                    font-family: Verdana, Geneva, Tahoma, sans-serif
                    font-size: 0.5em
                    font-weight: 600
                    color: #551A8B

.header-drip
    position: absolute
    left: -1.25em
    top: calc( 100% - 5px )
    width: 22em
    z-index: 0
    transform-origin: 50% 0%
    transition: all 0.8s ease-out
    &.shown
        transform: scale(1, 1)
    &.hidden
        transform: scale(0.8, 0)
        