.cart-snackbar
    position: fixed
    padding: 1em
    top: 8em
    right: 2em
    width: 20em
    height: fit-content
    background: #ffaed6
    border-radius: 5px
    z-index: 999
    &_inner
        display: flex
        flex-direction: column
        justify-content: center
        overflow: hidden
        &_info
            display: flex
            align-items: flex-start
            img
                border-radius: 4px
                width: 4em
                height: auto
                aspect-ratio: 1/1
                background: #fff
                object-fit: contain
            div
                display: flex
                flex-direction: column
                font-family: Fredoka Semi Bold, Comic Sans MS, sans-serif
                margin: 0 0 0 1em
                span
                    font-size: 0.9em
                    color:#481E5C
                p
                    text-overflow: ellipsis
                    white-space: nowrap
                    overflow: hidden
                    font-size: 0.9em
                    width: 14em
                    color: #505050
                    opacity: 0.8
                    margin-top: 0.35em
        &_link
            user-select: none
            display: flex
            cursor: pointer
            font-size: 0.8em
            font-family: Fredoka Semi Bold, Comic Sans MS, sans-serif
            background:#551A8B
            color: #fffbe8
            justify-content: center
            width: 100%
            margin: 1em 0 0 0
            border-radius: 4px
            padding: 0.75em 1em
            transform: scale(0.999)
            transition: 0.2s ease
            &:hover
                opacity: 0.9
            &:active
                transform: scale(0.98)
            span
                &:nth-child(1)
                    width: 20%
                    text-align: start
                &:nth-child(2)
                    width: 60%
                    text-align: center
                &:nth-child(3)
                    width: 20%
                    text-align: end
                    
                    
