$sliderDotSize: 14px
    
.menu-item
    font-size: 16px
    position: relative
    display: flex
    flex-direction: column
    border-radius: 1em
    transition: 0.2s
    overflow: hidden
    text-decoration: none
    background: #ffffff6e
    box-shadow: 1px 2px 4px #551A8B1d
    &:hover
        box-shadow: 4px 8px 16px #551A8B1d

    &_slider
        max-width: 100%
        border-top-radius: 1em
        & .slick-slide
            div
                display: flex
                padding-bottom: 21px
        &_img
            aspect-ratio: 1/1
            object-fit: cover
        & .slick-dots
            bottom: 0
            & li
                width: $sliderDotSize
                height: $sliderDotSize
                margin: 0
                & button
                    width: $sliderDotSize
                    height: $sliderDotSize
                    &::before
                        width: $sliderDotSize
                        height: $sliderDotSize
                        line-height: $sliderDotSize
                        color: #C5B7FF
                        opacity: 1
                &.slick-active
                    & button 
                        &::before
                            color: #9d46ee

    &_info
        position: relative
        width: 100%
        display: flex
        flex-direction: column
       
        &_title
            font-family: Fredoka Semi Bold, Comic Sans MS, sans-serif
            width: 100%
            font-size: 1.2em
            text-align: center
            display: -webkit-box
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical
            overflow: hidden
            margin: 0.5em 0 0.25em 0
            color: #6f5d80
            transition: 0.4s
            &:hover
                opacity: 0.6
        &_price
            font-family: Slime Box, Arial, sans-serif
            display: flex
            font-size: 1em
            justify-content: center
            margin: 1em 0
            color: #505050
        