.footer
    &_first-floor
        display: flex
        justify-content: space-between
        background: #fffbe8
        height: 80px
        &_social
            margin-left: 2em
            display: flex
            flex-direction: row
            align-items: center
            &_icon-container
                cursor: pointer
                background: #3a3a3ac0
                width: 2em
                padding: 0.5em
                margin-right: 1em
                border-radius: 50%
                transition: 0.2s
                svg
                    display: flex
                    width: 100%
                    height: auto
                    fill: #e3e3e3
                &:hover
                    background: #C5B7FF
                    svg
                        fill: #3a3a3ac0
                    
            

    &_second-floor
        display: flex
        align-items: center
        justify-content: center
        height: 40px
        background: #ffaed7
        a
            font-family: Fredoka Semi Bold, Comic Sans MS, sans-serif
            color: #4b4153
            &:hover
                opacity: 0.8