.merch-item-page-image-gallery
    display: inline-block
    width: 50%
    &_sliders-block
        position: sticky
        top: 7em
        width: 100%
        height: auto
    & .main-slider
        margin-bottom: 0.5em
        -webkit-box-shadow: 0 0 2em -1em #551A8B
        -moz-box-shadow: 0 0 2em -1em #551A8B
        box-shadow: 0 0 2em -1em #541a8b
        & .slick-list
            overflow: hidden
            border-radius: 5px
            & .slick-track
                
                & .slick-slide
                    
                    // & .image-container
                    //     position: relative
                    //     background: #000
                    //     aspect-ratio: 1/1
                    //     text-align: center
                    div
                        display: flex
                        img
                            aspect-ratio: 1/1
                            background: #fff
                            object-fit: contain


    & .nav-slider
        & .slick-list
            margin: 0 5em
            & .slick-track
                & .slick-slide
                    cursor: pointer
                    width: 6em
                    padding: 1em
                    opacity: 0.75
                    div
                        display: flex
                        img
                            display: flex
                            width: fit-content
                            border-radius: 5px
                            aspect-ratio: 1/1
                            background: #fff
                            object-fit: contain
                    &.slick-current
                        opacity: 1
                        img
                            border: 1px solid #481E5C
                    &:hover
                        opacity: 1
        & .next-arrow, & .prev-arrow
            opacity: 0.75
            cursor: pointer
            position: absolute
            top: 1em
            display: flex
            align-items: center
            justify-content: center
            width: 4em
            height: calc(100% - 2em)
            border-radius: 5px
            background:#fff
            svg
                font-size: 1.5em
                fill: #C5B7FF
        & .next-arrow
            right: 0
            &:hover
                opacity: 1
        & .prev-arrow
            left: 0
            &:hover
                opacity: 1

@media (max-width: 1024px)
    .merch-item-page-image-gallery
        display: flex
        width: 100%
        margin-bottom: 2em
@media (max-width: 768px)
    .merch-item-page-image-gallery
        & .main-slider
            margin-bottom: 5px
            & .slick-list
                border-radius: 0
        & .nav-slider
            position: relative
            width: 100%
            & .slick-list
                margin: 0 70px
                & .slick-track
                    
                    & .slick-slide
                        padding: 5px
                        div
                            img
                        &.slick-current
                            img
                        &:hover
            & .next-arrow, & .prev-arrow
                top: 5px
                width: 50px
                height: calc(100% - 10px)
                svg
                    //font-size: 1.5em
            & .next-arrow
                right: 10px
                &:hover
            & .prev-arrow
                left: 10px
                &:hover
@media (max-width: 480px)
    .merch-item-page-image-gallery
        & .nav-slider
            & .slick-list
                margin: 0 50px
            & .next-arrow, & .prev-arrow
                width: 30px
                svg
                    font-size: 1em
